.header {
    display: flex;
    height: 150px;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightgreen;
    border-bottom: 2px solid black;
    box-shadow: ;
}

.name {
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 40px;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item {
    color: black;
    font-size: 20px;
    padding: 10px;
}

.contact,
.projects,
.resume{
    cursor: pointer;
    transition: text-decoration 0.3s
}

.contact{
    margin-right: 5px;
}

.resume{
    margin-right: 5px;
}

.resume:hover,
.projects:hover,
.contact:hover{
    text-decoration: underline;
}

.email-icon img, .linkdin-icon img {
    height: 25px;
    cursor: pointer;
}

.email-icon{
    margin-right: 5px;
}
