.header{
    background-color: red;
    display: flex;
    height: 100px;

}

.name{
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 45px;
}