@media screen and (max-width: 768px) {
    .header {
        padding: 0 20px;
    }

    .name {
        font-size: 30px;
    }

    .nav-bar {
        gap: 10px;
    }

    .nav-item {
        font-size: 15px;
    }

    .about-me-section {
        margin-left: 0;
        padding: 10px;
    }

    .about-me-text h2 {
        font-size: 30px;
    }

    .about-me-text p {
        font-size: 18px;
    }

    .intro-head {
        margin: 20px 10px;
        font-size: 25px;
    }

    p {
        margin: 10px 10px;
        font-size: 18px;
    }

    .line {
        margin: 20px 0 0 100px;
    }
}

@media screen and (min-width: 1500px) {
    .header {
        padding: 0 100px;
    }

    .name {
        font-size: 50px;
    }

    .nav-bar {
        gap: 30px;
    }

    .nav-item {
        font-size: 25px;
    }

    .about-me-text h2 {
        font-size: 50px;
    }

    .about-me-text p {
        font-size: 25px;
    }

    .intro-head {
        font-size: 35px;
    }

    p {
        font-size: 25px;
    }

    .line {
        margin: 50px 0 0 250px;
    }
}